h1 {
  padding: 1.5rem 1.5rem 0 1.5rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

.table-wrapper {
  padding: 1.5rem;
}

.header-row {
  background-color: #3f51b5;
  color: #fff;
}

.completed {
  color: #3f51b5,
}

.incompleted {
  color: #f44336;
}
